.about-title {
    margin: 48px 120px;
}

.about-title h1 {
    font-size: 32px;
    margin-bottom: 0.5em;
}

.about-content {
    margin: 48px 80px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.intro {
    display: flex;
    gap: 48px;
    place-items: center;
}

#intro-img {
    width: 100%;
}

#intro-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px
}

.introduction {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.future-vision {
    display: flex;
    gap: 48px;
    place-items: center;
}

#vision-img {
    width: 100%;
}

#vision-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.vision {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}