.first-section {
    height: 200px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: brown;
}

.second-section {
    margin: 48px 32px;
}

.second-section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;
}

.second-section .blog-img {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.second-section li {
    list-style-type: none;
    flex: 0;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
}

.second-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.second-section ul li:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}