.first-section {
    height: 200px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: brown;
}

.second-section {
    margin: 48px 32px;
}

#blog-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;
}

.blog-img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
}

#blog-ul li {
    list-style-type: none;
    flex: 0 0 calc(20% - 16px);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-content: center;
}

.second-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.second-section ul li:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}