.first-section {
    height: 300px;
    padding-top: 70px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: brown;
}

.second-section {
    min-height: 300px;
}

.second-section .blog {
    display: flex;
    place-items: left;
    gap: 32px;
    margin: 32px 48px;
    padding: 20px 16px;
    border-radius: 10px;
}

.second-section ul {
    list-style-type: none;
}

.second-section .img-container {
    place-content: center;
    object-fit: contain;
}

.second-section ul li img {
    aspect-ratio: 1/1;
    width: 100px;
    border-radius: 10px;
}

.second-section ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    word-break: break-word;
    place-content: center;
}

.second-section .blog:hover {
    box-shadow: 8px 8px 10px 0 black;
    background-color: antiquewhite;
}