.first-section {
    height: 200px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: forestgreen;
}

.cart-section {
    margin: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#products {
    place-items: center;
}

#products ul {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#products ul li {
    list-style-type: none;
    display: flex;
    padding: 16px;
    align-items: center;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    position: relative;
}

#products .remove {
    position: absolute;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    padding: 5px 8px;
    border-radius: 100%;
}

#products .remove:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#products ul li img {
    width: 200px;
    border-radius: 10px;
    border: 5px solid;
}

#products .info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#products a {
    text-decoration: none;
    color: black;
}

.ting-ting {
    display: flex;
    place-content: center;
    gap: 100px;
}

.ting-ting .total-money {
    text-align: center;
    background-color: cadetblue;
    padding: 25px;
    border-radius: 10px;
}

.ting-ting #pay-btn {
    padding: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgba(143, 188, 143, 0.65);
    font-weight: bold;
}

.ting-ting #pay-btn:hover {
    background-color: darkseagreen;
}