.first-section {
    height: 200px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: forestgreen;
}

.cart-content {
    margin: 48px 32px;
    display: flex;
    place-content: center;
}

#cart-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;
    flex: 0 0 66.6666666667%;
    padding: 32px 0;
}

.art-card {
    flex: 0 0 calc(20% - 16px);
    border-radius: 10px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 32px;
}

.art-card img {
    width: 80%;
    border-radius: 10px;
}

.art-card button {
    border: none;
    padding: 5px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-top: auto;
    background-color: #ff1749;
    color: white;
}

.art-card button:hover {
    background-color: #ca143b;
}

.art-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.cart-form {
    flex: 0 0 33.3333333333%;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 16px;
    background-color: beige;
}

.cart-form h1 {
    margin-bottom: 16px;
}

.cart-form label, input {
    display: block;
}

.cart-form label {
    font-size: 18px;
}

.cart-form input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid;
    width: 70%;
}

.cart-form button {
    margin-top: 16px;
    padding: 16px;
    border: none;
    background-color: #ff1749;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}