.first-section {
    height: 200px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: deepskyblue;
}

.gallery {
    margin: 32px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;
}

.card {
    flex: 0 0 calc(20% - 16px);
    border-radius: 10px;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    gap: 32px;
}

.gallery .card img {
    width: 80%;
    border-radius: 10px;
}

.card-body {
    width: 90%;
}

.gallery .painting-title {
    word-break: break-word;
    font-size: 15px;
    margin-bottom: 10px;
}

.gallery .painting-material, .painting-size {
    font-size: 12px;
}

.gallery .painting-price {
    margin-top: 10px;
    color: darkolivegreen;
}

.gallery .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

#pagination {
    margin: 32px;
    display: flex;
    place-content: center;
    gap: 32px;
}

#pagination button {
    background: none;
    border: 1px solid;
    padding: 10px 14px;
    border-radius: 8px;
}

#pagination button.active {
    background-color: #FF1749;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    color: white;
}

#pagination button:not(.active):hover {
    color: #FF1749;
    border: 1px solid #FF1749;
}