.first-section {
    height: 200px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: deepskyblue;
}

.gallery {
    margin: 32px 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;
}

.gallery .card {
    border: 1px solid;
    padding: 10px;
    flex: 0;
    align-content: center;
    border-radius: 10px;
}

.gallery .card img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.gallery .card-title {
    word-break: break-word;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.gallery .card-author {
    font-size: 12px;
    text-align: center;
}

.gallery .card-price {
    text-align: center;
    margin-top: 10%;
    color: darkolivegreen;
}

.gallery .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}