.banner {
    display: flex;
    align-items: center;
    width: 100%;
}

.viewport {
    overflow: hidden;
    width: 100%;   
}

.track {
    display: flex;
    transition: transform 0.3s ease;
}

.slide {
    min-width: 100%;
    height: 300px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner button {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 5px;
    border-radius: 100%;
}

#next-btn {
    right: 16px;
}

#prev-btn {
    left: 16px;
}