#post-title {
    min-height: 300px;
    text-align: center;
    place-content: center;
    font-size: 28px;
    background-color: cadetblue;
    overflow: hidden;
    padding: 100px 50px 0 50px;
    word-break: break-word;
    font-weight: bold;
}

#post-content {
    min-height: 100px;
    text-align: left;
    place-content: center;
    margin: 32px 60px;
    word-break: break-word;
    font-size: 18px;
    line-height: 1.85;
}

#post-content p, li {
    margin: 0 0 1.2em;
}

#post-content ul {
    padding-left: 1.5em;
}

#post-content ol {
    list-style-type: none;
    padding-left: 0;
}

#post-content ol li::before {
    content: "🖌 ";
    font-weight: bold;
}