.main {
    display: flex;
    gap: 64px;
    margin: 48px 64px;
    place-content: center;
}

#art-img-div {
    width: 28%;
    place-content: center;
}

#art-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

#art-info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    place-content: center;
}

#art-text {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.art-content {
    font-size: 14px;
}

.stars {
    color: #FF1749;
}

#add-to-cart {
    padding: 12px;
    border: none;
    background-color: #FF1749;
    color: white;
    border-radius: 10px;
}

#add-to-cart:hover {
    background-color: #CA143B;
}

.details {
    list-style-type: none;
    line-height: 2em;
}