* {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: bisque;
    margin: 6px;
    border-radius: 10px;
    display: flex;
    height: 80px;
    width: calc(100% - 12px);
    position: fixed;
    z-index: 999;
}

nav .logo {
    width: 80px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

nav .logo img {
    position: absolute;
    inset: 0;
    margin: auto;

    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 100%;
}

nav .title {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    align-content: center;
    color: crimson;
}

nav .search-bar {
    height: 40%;
    padding-left: 10px;
    
    display: flex;
    align-items: center;
    position: relative;
    
    width: 200px;
    transition: all 0.3s ease;
}

nav .right {
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .search-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

nav .search-btn, .cart-btn, .dropdown-btn {
    background: none;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 16px;
}

nav .search-btn:hover, .cart-btn:hover, .dropdown-btn:hover {
    background-color: #e7d0b5;
}

@media (max-width: 650px) {
    nav .search-bar {
        width: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
    }
    
    nav .search-wrapper.active .search-bar {
        width: 80px;
        opacity: 1;
        padding-left: 10px;
        pointer-events: auto;
    }
}

nav .dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: bisque;
    min-width: 160px;
    z-index: 1;
    right: 0;
    margin: 5px;
    top: 85px;
    border-radius: 10px;
    gap: 8px;
}

.dropdown-content a {
    text-decoration: none;
    color: black;
    padding: 12px 8px;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #e0c8ac;
}

.dropdown.open .dropdown-content {
    display: flex;
}

.main-title {
    height: 300px;
    padding-top: 70px;
    text-align: center;
    place-content: center;
    font-size: 25px;
    background-color: brown;
}

footer {
    background-color: darkgray;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100px;
}

footer p {
    text-align: center;
    place-content: center;
}