* {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: bisque;
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 999;
    flex-direction: column;
}

.up-nav {
    display: flex;
    border-bottom: 1px solid;
}

.up-nav .logo {
    width: 60px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.up-nav .logo img {
    position: absolute;
    inset: 0;
    margin: auto 0 auto auto;

    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.up-nav .title {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    align-content: center;
    color: crimson;
}

.up-nav .search-bar {
    height: 40%;
    padding-left: 10px;
    
    display: flex;
    align-items: center;
    position: relative;
    
    width: 200px;
    transition: all 0.3s ease;
}

.up-nav .right {
    margin-left: auto;
    margin-right: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.up-nav .search-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.up-nav .search-btn, .cart-btn {
    background: none;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 16px;
}

.up-nav .search-btn:hover, .cart-btn:hover {
    background-color: #e7d0b5;
}

@media (max-width: 580px) {
    .up-nav .search-bar {
        width: 0;
        opacity: 0;
        padding: 0;
        pointer-events: none;
    }
    
    .up-nav .search-wrapper.active .search-bar {
        width: 90px;
        opacity: 1;
        padding-left: 10px;
        pointer-events: auto;
    }
}

.bot-nav {
    display: flex;
    gap: 16px;
    place-content: center;
    margin: 5px;
}

.bot-nav a {
    padding: 8px 12px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.bot-nav a:hover {
    background-color: #e7d0b5;
}

footer {
    background-color: darkgray;
    position: absolute;
    display: grid;
    width: 100%;
    height: 100px;
}

footer p {
    text-align: center;
    place-content: center;
}